asgiref==3.8.1
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cryptography==44.0.1
deep-translator==1.11.4
Django==4.2.20
django-allauth==0.63.6
django-appconf==1.1.0
django-compressor==4.5.1
django-social-share==2.3.0
idna==3.10
pycparser==2.22
PyJWT==2.10.1
rcssmin==1.1.2
requests==2.32.3
rjsmin==1.2.2
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.13.0
urllib3==2.3.0
