{% load static compress %}

<!DOCTYPE HTML>
<html>
	<head>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9036062810934993"
		crossorigin="anonymous"></script>
		
		<script>
			(function (c, s, q, u, a, r, e) {
				c.hj=c.hj||function(){(c.hj.q=c.hj.q||[]).push(arguments)};
				c._hjSettings = { hjid: a };
				r = s.getElementsByTagName('head')[0];
				e = s.createElement('script');
				e.async = true;
				e.src = q + c._hjSettings.hjid + u;
				r.appendChild(e);
			})(window, document, 'https://static.hj.contentsquare.net/c/csq-', '.js', 6396007);
		</script>
		<!-- Meta Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '639531835572767');
			fbq('track', 'PageView');
			</script>
			<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=639531835572767&ev=PageView&noscript=1"
			/></noscript>
			<!-- End Meta Pixel Code -->
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-QBY9Y9CMPS"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-QBY9Y9CMPS');
		</script>
		<title>My Akiya in Japan</title>
		<meta charset="utf-8" />
		<meta name="description" content="Discover your dream home in Japan. We guide you through every step of buying an affordable home in Japan, no matter your budget." />
		<meta name="keywords" content="Japan, Akiya, Japanese homes, affordable homes, cheap houses japan, cheap house, buy home in Japan, dream home, real estate Japan" />
		<meta name="author" content="My Akiya in Japan" />
		<meta property="og:title" content="My Akiya in Japan" />
		<meta property="og:description" content="Discover your dream home in Japan. We guide you through every step of buying an affordable home in Japan, no matter your budget." />
		<meta property="og:image" content="{% static 'assets/images/og-image.jpg' %}" />
		<meta property="og:url" content="https://www.myhouseinjapan.com" />
		<meta name="twitter:card" content="summary_large_image" />

		<link rel="canonical" href="https://akiyainjapan.com" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% compress css %}
			<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
		{% endcompress %}
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Filter Bar -->
				<div id="filter-bar" style="
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 1rem;
					padding: 1rem;
					margin-bottom: 2rem;
					flex-wrap: wrap;
				">
					<style>
						@media (max-width: 768px) {
							#filter-bar {
								gap: 0.9rem;
								padding-top: 0px !important;
							}
							.filter-button {
								flex: 1 1 calc(50% - 1rem);
								max-width: calc(30% - 0.1rem);
								padding: 1.9rem;
								font-size: 0.8rem;
							}
							.filter-button span {
								font-size: 0.4rem;
							}
						}
					</style>

					<button class="filter-button" onclick="window.location.href='{% url "home" %}'" style="
						display: flex;
						flex-direction: column;
						align-items: center;
						background: none;
						color: white;
						cursor: pointer;
						box-shadow: none;
					">
						<span class="icon solid fa-recycle" style="font-size: 2rem; {% if nav == 'home' %} color: #34a58e; {% endif %}"></span>
						<span style="font-size: 0.8rem;">Explore All</span>
					</button>


					<button class="filter-button" onclick="window.location.href='{% url "filter_properties" "beach" %}'" style="
						display: flex;
						flex-direction: column;
						align-items: center;
						background: none;
						border: none;
						color: white;
						cursor: pointer;
						box-shadow: none;
					">
						<span class="icon solid fa-umbrella-beach" style="font-size: 2rem; {% if nav == 'beach' %} color: #34a58e; {% endif %}"></span>
						<span style="font-size: 0.8rem;">Beach Town</span>
					</button>

					<button class="filter-button" onclick="window.location.href='{% url "filter_properties" "snow" %}'" style="
						display: flex;
						flex-direction: column;
						align-items: center;
						background: none;
						border: none;
						color: white;
						cursor: pointer;
						box-shadow: none;
					">
						<span class="icon solid fa-snowflake" style="font-size: 2rem; {% if nav == 'snow' %} color: #34a58e; {% endif %}"></span>
						<span style="font-size: 0.8rem;">Snow Town</span>
					</button>
					<button class="filter-button" onclick="window.location.href='{% url "filter_properties" "mountain" %}'" style="
						display: flex;
						flex-direction: column;
						align-items: center;
						background: none;
						border: none;
						color: white;
						cursor: pointer;
						box-shadow: none;
					">
						<span class="icon solid fa-mountain" style="font-size: 2rem;  {% if nav == 'mountain' %} color: #34a58e; {% endif %}"></span>
						<span style="font-size: 0.8rem;">Mountain Town</span>
					</button>
					<button class="filter-button" onclick="window.location.href='{% url "filter_properties" "onsen" %}'" style="
						display: flex;
						flex-direction: column;
						align-items: center;
						background: none;
						border: none;
						color: white;
						cursor: pointer;
						box-shadow: none;
					">
						<span class="icon solid fa-fire" style="font-size: 2rem; {% if nav == 'onsen' %} color: #34a58e; {% endif %}"></span>
						<span style="font-size: 0.8rem;">Onsen</span>
					</button>
				</div>

				<!-- Header -->
					<header id="header">
						<h1><strong>My Akiya in Japan</strong></h1>
						<nav>
							<ul>
								<li class="responsive-icon">
									<a href="#purchasing-process" class="icon solid fa-home"><span class="responsive-text">How to Buy?</span></a>
								</li>
								<li class="responsive-icon">
									<a href="#faqs" class="icon solid fa-question-circle"><span class="responsive-text">FAQs</span></a>
									
								</li>
								<li class="responsive-icon">
									<a href="#about" class="icon solid fa-info-circle"><span class="responsive-text">About</span></a>
								</li>

								<style>
									@media (max-width: 768px) {
										.responsive-icon .responsive-text {
											visibility: hidden;
											display: none;
										}
									}
								</style>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						{% for property in properties %}
							{% if property.property_has_any_image %}
								<article class="thumb" style="display: flex; gap: 4rem; align-items: flex-start; border-width: 10px;">
									
									{% with property.get_ordered_images.first as first_image %}
										{% if property.premium %}
											<a href="{% static 'images/premium_placeholder.png' %}" class="image"><img src="{% static 'images/premium_placeholder.png' %}" alt="This is a premium property"/></a>
											<p id="property-location" hidden>📍{{ property.get_location_for_front }}</p>
											<p id="property-price" hidden>{{ property.get_price_for_front }}</p>
										{% else %}
											{% if first_image.show_in_front %}
												<a href="{{ first_image.file }}" class="image"><img src="{{ first_image.file }}" alt="{{ first_image.alt }}"/></a>
											{% endif %}
											<p id="property-location" hidden>📍{{ property.get_location_for_front }}</p>
											<p id="property-price" hidden>{{ property.get_price_for_front }}</p>
										{% endif %}
									{% endwith %}
									
									<div class="details-box" style="
										padding: 1rem 1.5rem;
										border-radius: 8px;
										box-shadow: 0 2px 8px rgba(0,0,0,0.1);
										background: rgba(0, 0, 0, 0.5);
										min-width: 300px;
										max-width: 400px;
										display: flex;
										flex-direction: column;
										justify-content: space-between;
										height: 200%;
									">
										<!-- Bottom-aligned row -->
										<div style="
											display: flex;
											justify-content: space-between;
											align-items: flex-end;
											width: 100%;
										">
											<!-- Info on the left -->
											<div style="display: flex; flex-direction: column; justify-content: space-between; width: 100%;">
												{% if property.premium %}
													{% if user.is_authenticated or request.COOKIES.email %}
														<button class="primary" onclick="window.location.href='{% url "upgrade_premium" %}'">
															Upgrade to Learn More
														</button>
													{% else %}
														<button class="primary" onclick="window.location.href='{% url "authenticate" property.pk 1 %}'">
															Upgrade to Learn More
														</button>
													{% endif %}
												{% else %}
													{% if property.location and property.price %}
														<p style="margin: 1rem;">📍 {{ property.get_location_for_front }} - {{ property.get_price_for_front }}</p>
													{% else %}
														{% if property.location %}
															<p style="margin: 0;"><span ></span> {{ property.get_location_for_front }}</p>
														{% endif %}
														{% if property.price %}
															<p style="margin: 0;"><strong></strong> {{ property.get_price_for_front }}</p>
														{% endif %}
													{% endif %}

													
														<button class="primary" onclick="window.location.href='{% url "contact_seller" property.pk 0 %}'">
															<span class="lock-icon"></span> Learn More
														</button>
											
												{% endif %}
											</div>
										</div>
									</div>
								</article>
							{% endif %}
						{% endfor %}

						<!-- FINAL PROPERTY CARD -->
						<article class="thumb" style="display: flex; gap: 4rem; align-items: flex-start; border-width: 10px;">
							<a href="{% static 'images/access_full_listing.png' %}" class="image"><img src="{% static 'images/access_full_listing.png' %}" alt="Upgrade to Access Full Listing"/></a>							
							<div class="details-box" style="
								padding: 1rem 1.5rem;
								border-radius: 8px;
								box-shadow: 0 2px 8px rgba(0,0,0,0.1);
								background: rgba(0, 0, 0, 0.5);
								min-width: 300px;
								max-width: 400px;
								display: flex;
								flex-direction: column;
								justify-content: space-between;
								height: 200%;
							">
								<!-- Bottom-aligned row -->
								<div style="
									display: flex;
									justify-content: space-between;
									align-items: flex-end;
									width: 100%;
								">
									<!-- Info on the left -->
									<div style="display: flex; flex-direction: column; justify-content: space-between; width: 100%;">
										{% if user.is_authenticated or request.COOKIES.email %}
											<button class="primary" onclick="window.location.href='{% url "upgrade_premium" %}'">
												Upgrade to Access Full Listing
											</button>
										{% else %}
											<button class="primary" onclick="window.location.href='{% url "authenticate" 1 1 %}'">
												Upgrade to Access Full Listing
											</button>
										{% endif %}
									</div>
								</div>
							</div>
						</article>
					</div>

				<!-- Footer -->
					<footer id="about" class="panel">
						<div class="inner">
							<div>
								<section>
									<h2>We guide you through every step of buying your dream home in Japan.</h2>
									<p>No matter your budget, owning a home in Japan is within reach.</p>
								</section>

								<section>
									<h3>For general inquiries, reach out to us at <a href="mailto:hello@akiyainjapan.com" title="Email us">hello@akiyainjapan.com</a></h3>
								</section>
								<section>
									<h3>Follow us on Instagram <a href="https://www.instagram.com/myakiyainjapan/" class="icon brands fa-instagram"></a></h3>
								</section>
								<p class="copyright">
									&copy; My Akiya in Japan</a>.
								</p>
							</div>
							<div>
							</div>
						</div>
					</footer>

					<footer id="purchasing-process" class="panel">
						<div class="inner">
							<div>
								<section>
									<h2>These are the steps to owning your house in Japan</h2>
									<ol>
										<li>Express your interest in any of the available properties.</li>

										<li>Have an initial conversation with our team.</li>

										<li>Sign the service contract and choose a certified real estate agent from our available options.</li>

										<li>Define the properties you'd like to inspect (personally or virtually).</li>

										<li>Formalize your offer for the property you’ve chosen.</li>

										<li>Finalize the details, costs, and documentation.</li>

										<li>Receive the keys to your new home in Japan.</li>
									</ol>
								</section>
								
								<p class="copyright">
									&copy; My Akiya in Japan</a>.
								</p>
							</div>
							<div>
							</div>
						</div>
					</footer>

					<footer id="faqs" class="panel">
						<div class="inner">
							<div>
								<section>
									<h2>Frequently Asked Questions</h2>
										<strong>Q:</strong> What is an Akiya? <br><strong>A:</strong> An Akiya is a vacant or abandoned house in Japan, often available at very affordable prices. <hr>
										<strong>Q:</strong> Are only "Akiyas" (abandoned houses) available on this site?<br><strong>A:</strong> No, we aggregate properties from multiple Japanese websites. Some are Akiyas, while others are not. <hr>
										<strong>Q:</strong> Can foreigners buy property in Japan? <br><strong>A:</strong> Yes, foreigners can purchase property in Japan with no restrictions. Full ownership is yours.<hr>
										<strong>Q:</strong> Do I need to live in Japan to buy a house? <br><strong>A:</strong> No, you can complete the entire process remotely and visit Japan whenever you choose.<hr>
										<strong>Q:</strong> Does purchasing a house in Japan grant me a visa?<br><strong>A:</strong> No, Japan does not provide investor visas for real estate owners. <hr>
										<strong>Q:</strong> Can I use my property in Japan as an Airbnb? <br><strong>A:</strong> Yes, depending on the location, you can manage your property as an Airbnb. <hr>
										<strong>Q:</strong> Can I rent my property in Japan for long-term leases? <br><strong>A:</strong> Yes, you can.<hr>
										<strong>Q:</strong> What are the additional costs involved? <br><strong>A:</strong> Additional costs may include taxes, agent fees, depending on the property. 
								</section>
								<br>
								
								<p class="copyright">
									&copy; My Akiya in Japan</a>.
								</p>
							</div>
							<div>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>